/*
These methods are used to remove the marging and allow the user to scroll freely 
*/

* {
    margin: 0;
    padding: 0;
}

/* to make sure that the page is impossible to scroll  */
html, body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none; /* To remove weird outline */
}
